body {
  background: black;
}

.page {
  background: #0B2429;
  width: 400px;
  height: 300px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

div {
  width: 100px;
  height: 100px;
}

.up {

}
