body {
  background: black;
}

.page {
  background: #0B2429;
  width: 400px;
  height: 300px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

div {
  width: 100px;
  height: 100px;
}

.up, .circ {
  background: #F3AC3C;
}

.up2 {
  background: #998235;
}

.up, .up2 {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

.circ {
  border-radius: 50%;
}
