body {
  background: black;
}

.page {
  width: 400px;
  height: 300px;
  background: #62306D;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.rec {
  background: #F7EC7D;
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: 200px;
  margin-left: 50px;
}

.circ {
  background-color: #E38F66;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 0 20px #AA445F;
  margin-top: -30px;
  margin-left: 20px;
}
