body {
  background: black;
}

.page {
  width: 400px;
  height: 300px;
  background: #E3516E;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.circ {
  width: 0px;
  height: 0px;
  position: absolute;
  margin: 50px 100px;
  border-radius: 50%;
  border-top: 100px solid #51B5A9;
  border-left: 100px solid #F7F3D7;
  border-bottom: 100px solid #E3516E;
  border-right: 100px solid #FADE8B;
  transform: rotate(-45deg);
}
