body {
  background: black;
}

.page {
  background: #62306D;
  width: 400px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

div {
  width: 100px;
  height: 100px;
  background: #F7EC7D;
}

.down1 {
  margin: 150px 0px 0 50px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.up {
  margin-top: 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.down2 {
  margin-top: 150px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
