* {
  background-color: aliceblue;
}

.container {
  width: 400px;
  height: 380px;
  position: relative;
  box-sizing: border-box;
  margin: 150px auto;
}

/*PARTE SUPERIOR*/

.head {
  position: absolute;
  background: #D8D2CF;
  width: 380px;
  height: 100px;
  border-radius: 15px 15px;
  left: 10px;
}

.buttom {
  position: absolute;
  background: black;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  top: 28px;
  z-index: 1;
}

.b1 {
  left: 33px;
}

.b2 {
  left: 82px;
}

.bs {
  position: absolute;
  width: 8px;
  height: 11px;
  background: #909497;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.bs1 {
  top: 63px;
  left: 47px;
}

.bs2 {
  top: 63px;
  left: 97px;
}

.panel {
  position: absolute;
  width: 180px;
  height: 70px;
  background: #BEACA3;
  top: 15px;
  left: 165px;
  border-radius: 15px 15px;
}

.lines {
  position: absolute;
  background: #686360;
  width: 70PX;
  height: 8PX;
  left: 15px;
}

.l1 {
  top: 10px;
}

.l2 {
  top: 30px;
}

.l3 {
  top: 50px;
}

.screen {
  position: absolute;
  background: #686360;
  width: 55px;
  height: 55px;
  top: 8px;
  left: 107px;
  border-radius: 5px 5px;
}

.circle {
  position: absolute;
  width: 45px;
  height: 45px;
  background: #D1F2EB;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  border: 1px solid #48C9B0;
}

/*CUERPO DE LA MÁQUINA*/

.body {
  position: absolute;
  background: #B1ADAB;
  width: 340px;
  height: 280px;
  top: 100px;
  left: 30px;
}

.fondo {
  position: absolute;
  background: #6C6865;
  width: 300px;
  height: 190px;
  top: 90px;
  left: 20px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.cup {
  position: absolute;
  background: white;
  width: 120px;
  height: 80px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  top: 85px;
  left: 90px;
}

.mango {
  position: absolute;
  background: none;
  width: 40px;
  height: 40px;
  border: 8px solid white;
  border-radius: 40%;
  top: 90px;
  left: 175px;
}

.exp {
  background: black;
  position: absolute;
  width: 90px;
  height: 45px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 129px;
}

.expb {
  background: black;
  position: absolute;
  width: 101px;
  height: 20px;
  left: 123px;
}

.expr {
  position: absolute;
  background: black;
  width: 20px;
  height: 20px;
  top: 40px;
  left: 164px;
}

/*BASE*/

.baseb {
  position: absolute;
  background: #3D200A;
  width: 360px;
  height: 25px;
  top: 250px;
  left: -10px;
  border-radius: 10px 10px;
}

.base {
  position: relative;
  background: #5C8B78;
  width: 400px;
  height: 30px;
  top: 370px;
}