body {
  background-color: black;
}

.page {
  width: 400px;
  height: 300px;
  background: #5D3A3A;
  margin: auto;
  margin-top: 50px;
}

.square {
  width: 200px;
  height: 200px;
  background: #B5E0BA;
}
